<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
	default-lazy-init="false">
	<context:component-scan base-package="com.acmr.excel"></context:component-scan>
	<context:annotation-config/>

   <!-- 注入要发布的RMI服务类 -->
    <bean id="rmiService" class="com.acmr.rmi.service.impl.RmiServiceImpl">
    	<property name="memcachedClient" ref="memcachedClient" />
    </bean>
 
    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <!-- RMI服务名称,可自定义服务名称 -->
        <property name="serviceName" value="RmiService" />
        <!-- 导出实体 -->
        <property name="service" ref="rmiService" />
        <!-- 导出接口 -->
        <property name="serviceInterface" value="com.acmr.rmi.service.RmiService" />
        <!-- spring默认使用1099端口 -->
        <property name="registryPort" value="10999" />
        <!--
        <property name="registryHost" value="192.168.1.250" />-->
    </bean>
	
	
	
	
	
	
	
	
	
	
	
	
	
</beans>